{% load staticfiles %} 
<!DOCTYPE html>
<html>
<head>
	<title>My Books</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/script8.js' %}"></script>
</head>
<body>
	<div class="container">
		<h2 class='title'>Halo, Mau Baca Buku?</h2>
		<div class="all-form d-flex flex-column flex-md-row flex-wrap justify-content-md-center">
			<div class="form-group col-lg-11 col-form-label">
				<input id='area-search' class="form-control" type="text"
                       placeholder="Ayo cari buku yang kamu mau">
			</div>
			<div class="form-group col-lg-1">
                    <button type="submit" class="btn btn-md btn-light" id="btn-search">Cari</button>
            </div>
        </div>
        <div class="data">
			<h2 id=sub-title class="text-center">Informasi Buku Anda</h2>
			<table class="table table-responsive-md table-bordered">
	                <thead>
	                    <tr>
	                    	<th style="width:4%" class= text-center scope="col">No.</th>
	                        <th style="width:24%" class= text-center scope="col">Cover Buku</th>
	                        <th style="width:24%" class= text-center scope="col">Judul Buku</th>
	                        <th style="width:24%" class= text-center scope="col">Penulis Buku</th>
	                        <th style="width:24%"class= text-center scope="col">Penerbit Buku</th>
	                    </tr>
	                </thead>
	                <tbody id=per-buku class="text-center">
	                </tbody>
	        </table>
		</div>
	</div>
</body>
</html>