body{
	font-family: 'Rubik', sans-serif;
	color: #50423C;
}
.title{
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #E06A38;
	padding: 78px 0px 21px 0px;
	border-bottom: 10px #E06A38 solid;
	font-weight: bold;
}
.all-form{
	padding: 100px 0px 60px 0px;
}
label{
	font-weight: bold;
	color: black;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.15em;
}
.form-control{
	border: 3px solid #537054;
}
textarea{
	min-height: 200px;
}
.data{
	padding-top: 50px;
	padding-bottom: 50px;
}
#accordion{
	padding-bottom: 200px;
	min-width: 60%;
	max-width: 80%
}
#accordion h5{
	color:black;
    font-size: 22px;
    background: #E06A38;
    margin-top: 7px;
    padding-bottom: 10px;
	letter-spacing: 0.05em;
	word-wrap: break-word;
	border-radius: 10px;
}
#accordion div{
	display: none;
	background-color: whitesmoke;
	font-size: 16px;
	line-height: 25px;
	border-radius: 15px;
}
