{% load staticfiles %} 
<!DOCTYPE html>
<html>
<head>
	<title>My Status</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="{% static 'js/script.js' %}"></script>
</head>
<body>
	<div class="container">
		<h2 class="title">Halo, Apa Kabar?</h2>
		<div class="theme d-flex justify-content-end">
			<button id=button-theme class="btn btn-md btn-light" name="theme-btn" type="button">Ubah Tema</button>
		</div>
		<div class="all-form">
			<form action="{% url 'story7:status' %}" method="POST" novalidate>{% csrf_token %}
					<div class="d-flex flex-column flex-md-row flex-wrap justify-content-md-center">
						<div class="form-group col-lg-2 col-form-label">
							<label class="text_right">Status</label>
						</div>
						<div class="form-group col-lg-10">
							{{generate_form.status}}
						</div>
					</div>
					<div class="d-flex flex-column flex-md-row flex-wrap justify-content-center">
						<div class="col-2">
							<button type="submit" class="btn btn-lg btn-light" name='simpan' value="Save">Simpan</button>
						</div>
					</div>
			</form>
		</div>
		<div class="data">
			<h2 id=sub-title class="text-center">Informasi Status Anda</h2>
			<table class="table table-responsive-md table-bordered">
	                <thead>
	                    <tr>
	                        <th class= text-center scope="col">Waktu</th>
	                        <th class= text-center scope="col">Status</th>
	                    </tr>
	                </thead>
	                <tbody>
	                	{% for obj in all_objects %}
	                    <tr>
	                        <td style="width:30%" >{{ obj.time}}</td>
	                        <td style="width:70%" >{{ obj.status}}</td>
	                    </tr> 
	                    {% endfor %}
	                </tbody>
	        </table>
		</div>
		<div class="d-flex justify-content-center">
			<div id="accordion">
			<h5>Aktivitas</h5>
		  	<div class="isian">
		  		Kuliah<br>
		    	Ngantuk<br>
		   		Tidur<br>
		   		Pulang
		  	</div>
		  	<h5>Pengalaman Organisasi/Kepanitiaan</h5>
		  	<div class="isian">
		  		Sekretaris PMR 2017<br>
		    	FUKI Fasilkom UI 2018-2019
		  	</div>
		 	<h5>Prestasi</h5>
		  	<div class="isian">
		  		Coming Soon
		  	</div>
		</div>
		</div>
		
	</div>
</body>
</html>