{% load staticfiles %} 
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/story9.css' %}">
</head>
<body>
	<div class="container">
		<p class="about"><a style="font-weight: bold;" href="{% url 'story9:index' %}">HOME</a></p>
		<h2 class="title">Halo, Ayo Register!</h2>
		<div class="all-form ">
			<form method="POST">{% csrf_token %}
				<p class="about" style="text-align: center;">{{error_message}}</p>
				<div class="d-flex flex-column flex-md-row flex-wrap justify-content-md-center">
					<div class="form-group col-lg-4 col-form-label">
						<label>Username</label>						
					</div>
					<div class="form-group col-lg-5">
						{{form.username}}
					</div>
				</div>
				<div class="d-flex flex-column flex-md-row flex-wrap justify-content-md-center">	
					<div class="form-group col-lg-4 col-form-label">
						<label>Email</label>
					</div>
					<div class="form-group col-lg-5">
						{{form.email}}
					</div>
				</div>	
				<div class="d-flex flex-column flex-md-row flex-wrap justify-content-md-center">
					<div class="form-group col-lg-4 col-form-label">
						<label>Password</label>
					</div>
					<div class="form-group col-lg-5">
						{{form.password}}
					</div>
				</div>
				<div class="d-flex flex-column flex-md-row flex-wrap justify-content-md-center">
					<div class="form-group col-lg-4 col-form-label">
						<label>Konfirmasi Password</label>
					</div>
					<div class="form-group col-lg-5">
						{{form.konfirmasi_password}}
					</div>
				</div>	
				<div class="d-flex flex-column flex-md-row flex-wrap justify-content-md-center">
					<input class="btn btn-light" type="submit" value="Register!">
				</div>
				<p class="about" style="text-align: center;">{{message}}</p>
			</form>	
		</div>
	</div>
</body>
</html>