body{
	font-family: 'Rubik', sans-serif;
	color: #50423C;
}
.title{
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #E06A38;
	padding: 78px 0px 21px 0px;
	border-bottom: 10px #E06A38 solid;
	font-weight: bold;
}
.all-form{
	padding: 100px 0px 60px 0px;
}
label{
	font-weight: bold;
	color: black;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.15em;
}
.form-control{
	border: 3px solid #537054;
}
a{
	color: black;
}
a:hover{
	text-decoration: none;
	color:#E06A38;
}
.about{
	padding: 0px 10px;
	font-size: 20px;
	line-height: 40px;
}
