{% load staticfiles %} 
<!DOCTYPE html>
<html>
<head>
	<title>My Status</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sheet.css' %}">
</head>
<body>
	<div class="container">
		<h2 class="title">Halo, Apa Kabar?</h2>
		<div class="all-form">
			<form action="{% url 'status:status' %}" method="POST" novalidate>{% csrf_token %}
					<div class="d-flex flex-column flex-md-row flex-wrap justify-content-md-center">
						<div class="form-group col-lg-2 col-form-label">
							<label class="text_right">Status</label>
						</div>
						<div class="form-group col-lg-10">
							{{generate_form.status}}
						</div>
					</div>
					<div class="d-flex flex-column flex-md-row flex-wrap justify-content-center">
						<div class="col-2">
							<button type="submit" class="btn btn-lg btn-light" name='simpan' value="Save">Simpan</button>
						</div>
					</div>
			</form>
		</div>
		<div class="data">
			<h2 class="text-center">Informasi Status Anda</h2>
			<table class="table table-responsive-md table-bordered">
	                <thead>
	                    <tr>
	                        <th scope="col">Waktu</th>
	                        <th scope="col">Status</th>
	                    </tr>
	                </thead>
	                <tbody>
	                	{% for obj in all_objects %}
	                    <tr>
	                        <td style="width:30%" >{{ obj.time}}</td>
	                        <td style="width:70%" >{{ obj.status}}</td>
	                    </tr> 
	                    {% endfor %}
	                </tbody>
	        </table>
		</div>
	</div>
</body>
</html>
